# Q 1

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [37]:
email='jhon@google.com'
name= email.split('@')[1]
company_name=name.split('.')[0]
print(company_name)

google

# Q 2

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [3]:
a=[str(a) for a in input().split()] 
n=sorted(a)
print(" ".join([str(num) for num in n]))

without, hello, bag, world
bag, hello, without, world

# Q 3

Create your own Jupyter Notebook for Sets

In [15]:
l={"hello", "champ", "hyderabad"}
print(l)

{'hello', 'champ', 'hyderabad'}

In [16]:
for i in l:
    print(i)

hello
champ
hyderabad

In [17]:
l2={"india", "telangana", "python"}
l3=l.union(l2)
print(l3)

{'champ', 'telangana', 'python', 'hello', 'india', 'hyderabad'}

In [18]:
l.pop()
print(l)

{'champ', 'hyderabad'}

In [19]:
l2.remove("python")
print(l2)

{'telangana', 'india'}

In [20]:
l.add("train")
print(l)

{'train', 'champ', 'hyderabad'}

In [21]:
l4={"pubg","nfs","gta"}
l3.update(l4)
print(l3)

{'telangana', 'python', 'nfs', 'pubg', 'champ', 'gta', 'hello', 'india', 'hyderabad'}

In [24]:
l3.discard("python")
print(l3)

{'telangana', 'nfs', 'pubg', 'champ', 'gta', 'hello', 'india', 'hyderabad'}

In [28]:
l.symmetric_difference(l2)

{'champ', 'hyderabad', 'india', 'telangana', 'train'}

In [29]:
print(l)
print(l2)
print(l3)
print(l4)

{'train', 'champ', 'hyderabad'}
{'telangana', 'india'}
{'telangana', 'nfs', 'pubg', 'champ', 'gta', 'hello', 'india', 'hyderabad'}
{'pubg', 'gta', 'nfs'}

In [32]:
l5=l.copy()
print(l5)

{'hyderabad', 'champ', 'train'}

In [35]:
l3.difference(l4)

{'champ', 'hello', 'hyderabad', 'india', 'telangana'}

# Q 4

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [39]:
userList = [int(userList) for userList in input().split()]
for i in range(1,len(userList)+1):
    if i not in userList:
        print(i)

1 2 4 6 3 7 8
5

# Q 5

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [40]:
l = [int(l) for l in input().split()]
l=list(dict.fromkeys(l))
l.sort()
print(" ".join([str(num) for num in l]))

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155